# /etc/nginx/sites-available/ctfd.conf
upstream ctfd {
  server {{ ctfd_host }}:{{ ctfd_port }};
}

server {
  listen {{ nginx_listen_port }};  # Listen on the defined port for HTTP connections

  location / {
    proxy_pass http://ctfd;
    proxy_redirect off;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Host $server_name;
    proxy_set_header X-Forwarded-Proto $scheme;
  }
}
